name = "NeuralOperator"
uuid = "5913d0e6-5bb6-45e3-8a06-341cf4fd0203"
authors = ["Patrick Zimbrod <76100656+pzimbrod@users.noreply.github.com>"]
version = "0.1.0"

[deps]
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
Flux = "587475ba-b771-5e3f-ad9e-33799f191a9c"
MAT = "23992714-dd62-5051-b70f-ba57cb901cac"
OMEinsum = "ebe7aa44-baf0-506c-a96f-8464559b3922"
PkgTemplates = "14b8a8f1-9102-5b29-a752-f990bacb7fe1"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Revise = "295af30f-e4ad-537b-8983-00126c2a3abe"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[compat]
CUDA = "3"
FFTW = "1"
Flux = "0.12"
MAT = "0.10"
OMEinsum = "0.4, 0.6"
PkgTemplates = "0.7"
Revise = "3"
