name = "OperatorLearning"
uuid = "5913d0e6-5bb6-45e3-8a06-341cf4fd0203"
authors = ["Patrick Zimbrod <76100656+pzimbrod@users.noreply.github.com>"]
version = "0.2.2"

[deps]
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
Flux = "587475ba-b771-5e3f-ad9e-33799f191a9c"
NNlib = "872c559c-99b0-510c-b3b7-b6c96a88d5cd"
OMEinsum = "ebe7aa44-baf0-506c-a96f-8464559b3922"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"

[compat]
CUDA = "3"
FFTW = "1"
Flux = "0.12, 0.13"
NNlib = "0.8"
OMEinsum = "0.6"
julia = "1.6"

[extras]
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Pkg", "Test"]
